<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div
      class="col-md-2 vh-100 d-flex flex-column justify-content-between menu"
    >
      <div class="d-flex justify-content-center mt-5">
        <img src="assets/images/icon-1.svg" width="63" height="63" alt="" />
      </div>
      <div class="d-flex flex-column justify-content-center gap-5 icons-center">
        <div class="d-flex justify-content-center">
          <img src="assets/images/icon-2.svg" width="40" height="40" alt="" />
        </div>
        <div class="d-flex justify-content-center">
          <img src="assets/images/icon-3.svg" width="27" height="27" alt="" />
        </div>
        <div class="d-flex justify-content-center">
          <img src="assets/images/icon-4.svg" width="32" height="32" alt="" />
        </div>
        <div class="d-flex justify-content-center">
          <img src="assets/images/icon-5.svg" width="43" height="43" alt="" />
        </div>
        <div class="d-flex justify-content-center">
          <img src="assets/images/icon-6.svg" width="43" height="43" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-center icons-bottom">
        <img src="assets/images/icon-7.svg" width="43" height="43" alt="" />
      </div>
    </div>

    <!-- Main Content -->
    <div class="col-md-10 p-0 d-flex flex-column">
      <!-- Horizontal Navbar -->
      <div class="d-flex nav">
        <div class="d-flex align-items-center">
          <div class="d-flex align-items-center">
            <div class="topic-one ms-5 gap-2 rounded-circle"></div>
            <div class="ms-2">
              <img
                src="assets/images/icon1.svg"
                width="39"
                height="32"
                alt=""
              />
            </div>
            <div class="ms-4 topic-two">
              <h1 class="m-0">2/3</h1>
            </div>
            <div class="ms-3 topic-three">
              <p class="m-0">Monitored Stations</p>
            </div>
          </div>
          <div class="d-flex align-items-center days">
            <div class="topic-one ms-5 gap-2 rounded-circle"></div>
            <div class="ms-2">
              <img
                src="assets/images/arrow.png"
                width="43"
                height="43"
                alt=""
              />
            </div>
            <div class="ms-3 topic-two">
              <h1 class="m-0">20s</h1>
            </div>
            <div class="ms-3 topic-three">
              <p class="m-0">Last Update</p>
            </div>
          </div>
          <div
            class="topic-circle d-flex justify-content-between align-items-center ps-1 px-5"
          >
            <div class="topic-today">
              <div class="montserrat-bold-14px-uppercase">TODAY</div>
            </div>
            <div class="montserrat-regular-14px-uppercase">YESTERDAY</div>
            <div class="montserrat-regular-14px-uppercase">LAST WEEK</div>
          </div>
          <div class="d-flex header-date">
            <div class="d-flex align-items-center gap-2">
              <div class="arrow ms-3 mb-4">&#11208;</div>
              <div class="d-flex flex-column">
                <div class="d-flex gap-date">
                  <div class="d-flex justify-content-center align-items-center">
                    <h1 class="roboto-15px m-0">
                      Start
                      <span class="roboto-medium-13px m-0"> date - time</span>
                    </h1>
                  </div>

                  <div>
                    <img
                      src="assets/images/date.svg"
                      width="17"
                      height="17"
                      alt=""
                    />
                  </div>
                </div>
                <div class="line-date mt-3"></div>
              </div>
            </div>
            <div class="d-flex align-items-center gap-2">
              <div class="arrow ms-5 mb-3">&#11200;</div>
              <div class="d-flex flex-column">
                <div class="d-flex gap-date">
                  <div class="d-flex justify-content-center align-items-center">
                    <h1 class="roboto-15px m-0">
                      End
                      <span class="roboto-medium-13px m-0"> date - time</span>
                    </h1>
                  </div>

                  <div>
                    <img
                      src="assets/images/date.svg"
                      width="17"
                      height="17"
                      alt=""
                    />
                  </div>
                </div>
                <div class="line-date mt-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-bodyy d-flex flex-column">
        <div class="sec-content d-flex">
          <div class="sec-one d-flex flex-column">
            <div class="d-flex flex-row gap-5">
              <div class="div-main-color px-5 pt-3">
                <div>
                  <p class="roboto-regular-40px d-flex gap-2 pt-3 m-0">
                    71,028
                    <span class="roboto-regular-22px d-flex align-items-center"
                      >EGP</span
                    >
                  </p>
                  <p class="montserrat-bold-17px">Total Value</p>
                  <p class="roboto-regular-16px-orange">
                    &#11206; <span>2%</span>
                  </p>
                </div>
              </div>
              <div class="div-main px-5 pt-3">
                <div>
                  <p class="roboto-regular-40px d-flex gap-2 pt-3 m-0">
                    20,000
                    <span class="roboto-regular-22px d-flex align-items-center"
                      >m <sup>3</sup></span
                    >
                  </p>
                  <p class="montserrat-bold-17px">Total Sales</p>
                  <p class="roboto-regular-16px-green">
                    &#11205; <span>50 m<sup>3</sup></span>
                  </p>
                </div>
              </div>
              <div class="div-main px-5 pt-3">
                <div>
                  <p class="roboto-regular-40px d-flex gap-2 pt-3 m-0">
                    20,000
                    <span class="roboto-regular-22px d-flex align-items-center"
                      >m <sup>3</sup></span
                    >
                  </p>
                  <p class="montserrat-bold-17px">Avg Sales</p>
                  <p class="roboto-regular-16px-orange">
                    &#11206; <span>50 m<sup>3</sup></span>
                  </p>
                </div>
              </div>
              <div class="div-main px-5 pt-3">
                <div>
                  <p class="roboto-regular-40px d-flex gap-2 pt-3 m-0">
                    1567
                    <span
                      class="roboto-regular-22px d-flex align-items-center"
                    ></span>
                  </p>
                  <p class="montserrat-bold-17px m-0">
                    Total Transaction Count
                  </p>
                  <p class="roboto-regular-16px-green">
                    &#11205; <span>20</span>
                  </p>
                </div>
              </div>
            </div>

            <div
              class="d-flex flex-column justify-content-end align-items-end mt-5"
            >
              <div
                class="part-two d-flex flex-row justify-content-between align-items-center"
              >
                <!-- "One" Section -->
                <div
                  class="one d-flex flex-row align-items-center justify-content-center gap-2 no-select"
                  [ngClass]="{ selected: selected === 'one' }"
                  (click)="toggleSelection('one')"
                >
                  <img
                    src="assets/images/chart.svg"
                    width="24"
                    height="24"
                    alt=""
                  />
                  <p class="montserrat-bold-14px-uppercases m-0">GRAPH</p>
                </div>

                <!-- "Two" Section -->
                <div
                  class="two d-flex flex-row align-items-center justify-content-center gap-2 no-select"
                  [ngClass]="{ selected: selected === 'two' }"
                  (click)="toggleSelection('two')"
                >
                  <img
                    src="assets/images/list.svg"
                    width="24"
                    height="24"
                    alt=""
                  />
                  <p class="montserrat-bold-14px-uppercases m-0">LIST</p>
                </div>
              </div>

              <!-- Display conditional content based on selection -->
              <div
                class="part-three d-flex flex-row justify-content-start align-items-start"
              >
                <div *ngIf="selected === 'one'">
                  <div class="">
                    <div class="content-chart mt-5">
                      <div
                        class="d-flex flex-column justify-content-center mt-0"
                      >
                        <div class="d-flex justify-content-between">
                          <div class="d-flex ms-5 mt-5">
                            <h1 class="montserrat-bold-16px">
                              STATIONS ACTIVATES OVERVIEW
                            </h1>
                          </div>
                          <div class="d-flex gap-5 me-5 mt-5">
                            <div class="sales-text montserrat-bold-16px">
                              SALES
                              <div class="line-div"></div>
                            </div>
                            <h1 class="montserrat-bold-16px">TRANSACTION</h1>
                            <h1 class="montserrat-bold-16px">VALUE</h1>
                            <h1 class="montserrat-bold-16px">COMPRESSION</h1>
                          </div>
                        </div>
                        <div class="ms-5 me-3 mt-2 line"></div>
                        <div class="m-5">
                          <canvas id="chBar" width="1039" height="192"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="selected === 'two'" class="scroll-container mt-5">
                  <div class="me-4">
                    <div class="content mt-0">
                      <div
                        class="d-flex justify-content-between align-items-center mt-0"
                      >
                        <div class="ms-2 d-flex flex-row mt-3">
                          <div
                            class="topic-one ms-5 gap-2 rounded-circle"
                          ></div>
                          <div class="ms-2">
                            <img
                              src="assets/images/station-orange.svg"
                              width="52"
                              height="42"
                              alt=""
                            />
                          </div>
                          <div class="ms-3 topic-sec-one">
                            <p class="m-0 montserrat-bold-18px-uppercase">
                              STATION NAME DUMMY
                            </p>
                          </div>
                        </div>

                        <div class="me-4 three-dots">
                          <p class="m-0">...</p>
                        </div>
                      </div>
                      <div class="ms-5 me-3 mt-2 line"></div>
                      <div class="d-flex flex-column ms-5 me-3 mt-4 gap-3">
                        <div class="d-flex gap-table ms-4">
                          <div class="d-flex flex-row gap-section">
                            <h1 class="montserrat-bold-17px">Total Sales</h1>
                            <h1 class="montserrat-medium-14px-table">
                              62,721 m<sup>3</sup>
                            </h1>
                          </div>
                          <div class="d-flex flex-row gap-5">
                            <h1 class="montserrat-bold-17px">
                              Compression State
                            </h1>
                            <h1 class="montserrat-medium-14px-table">
                              Compression
                            </h1>
                          </div>
                          <div class="d-flex flex-row gap-5">
                            <h1 class="montserrat-bold-17px">
                              Max Transaction / hour
                            </h1>
                            <h1 class="montserrat-medium-14px-table">20</h1>
                          </div>
                        </div>
                        <div class="d-flex gap-table-2 ms-4">
                          <div class="d-flex flex-row gap-section">
                            <h1 class="montserrat-bold-17px">Total Value</h1>
                            <h1 class="montserrat-medium-14px-table">
                              550 EGP
                            </h1>
                          </div>
                          <div class="d-flex flex-row gap-5">
                            <h1 class="montserrat-bold-17px w-50 text-center">
                              Total Transaction Count
                            </h1>
                            <h1 class="montserrat-medium-14px-table">5161</h1>
                          </div>
                          <div class="d-flex flex-row gap-3">
                            <h1 class="montserrat-bold-17px">
                              Max Transaction Date-Time
                            </h1>
                            <h1 class="montserrat-medium-14px-table">
                              8-1-2021 | 10:16 PM
                            </h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="content mt-5">
                      <div
                        class="d-flex justify-content-between align-items-center mt-3"
                      >
                        <div class="ms-2 d-flex flex-row mt-3">
                          <div
                            class="topic-one ms-5 gap-2 rounded-circle"
                          ></div>
                          <div class="ms-2">
                            <img
                              src="assets/images/station-orange.svg"
                              width="52"
                              height="42"
                              alt=""
                            />
                          </div>
                          <div class="ms-3 topic-sec-one">
                            <p class="m-0 montserrat-bold-18px-uppercase">
                              STATION NAME DUMMY
                            </p>
                          </div>
                        </div>

                        <div class="me-4 three-dots">
                          <p class="m-0">...</p>
                        </div>
                      </div>
                      <div class="ms-5 me-3 mt-2 line"></div>
                      <div class="d-flex flex-column ms-5 me-3 mt-4 gap-3">
                        <div class="d-flex gap-table ms-4">
                          <div class="d-flex flex-row gap-section">
                            <h1 class="montserrat-bold-17px">Total Sales</h1>
                            <h1 class="montserrat-medium-14px-table">
                              62,721 m<sup>3</sup>
                            </h1>
                          </div>
                          <div class="d-flex flex-row gap-5">
                            <h1 class="montserrat-bold-17px">
                              Compression State
                            </h1>
                            <h1 class="montserrat-medium-14px-table">
                              Compression
                            </h1>
                          </div>
                          <div class="d-flex flex-row gap-5">
                            <h1 class="montserrat-bold-17px">
                              Max Transaction / hour
                            </h1>
                            <h1 class="montserrat-medium-14px-table">20</h1>
                          </div>
                        </div>
                        <div class="d-flex gap-table-2 ms-4">
                          <div class="d-flex flex-row gap-section">
                            <h1 class="montserrat-bold-17px">Total Value</h1>
                            <h1 class="montserrat-medium-14px-table">
                              550 EGP
                            </h1>
                          </div>
                          <div class="d-flex flex-row gap-5">
                            <h1 class="montserrat-bold-17px w-50 text-center">
                              Total Transaction Count
                            </h1>
                            <h1 class="montserrat-medium-14px-table">5161</h1>
                          </div>
                          <div class="d-flex flex-row gap-3">
                            <h1 class="montserrat-bold-17px">
                              Max Transaction Date-Time
                            </h1>
                            <h1 class="montserrat-medium-14px-table">
                              8-1-2021 | 10:16 PM
                            </h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="content mt-5">
                      <div
                        class="d-flex justify-content-between align-items-center mt-3"
                      >
                        <div class="ms-2 d-flex flex-row mt-3">
                          <div
                            class="topic-one-black ms-5 gap-2 rounded-circle"
                          ></div>
                          <div class="ms-2">
                            <img
                              src="assets/images/station-black.svg"
                              width="52"
                              height="42"
                              alt=""
                            />
                          </div>
                          <div class="ms-3 topic-sec-one">
                            <p class="m-0 montserrat-bold-18px-uppercase">
                              STATION NAME DUMMY
                            </p>
                          </div>
                        </div>

                        <div class="me-4 three-dots">
                          <p class="m-0">...</p>
                        </div>
                      </div>
                      <div class="ms-5 me-3 mt-2 line"></div>
                      <div class="d-flex flex-column ms-5 me-3 mt-4 gap-3">
                        <div class="d-flex gap-table ms-4">
                          <div class="d-flex flex-row gap-section">
                            <h1 class="montserrat-bold-17px">Total Sales</h1>
                            <h1 class="montserrat-medium-14px-table">
                              62,721 m<sup>3</sup>
                            </h1>
                          </div>
                          <div class="d-flex flex-row gap-5">
                            <h1 class="montserrat-bold-17px">
                              Compression State
                            </h1>
                            <h1 class="montserrat-medium-14px-table">
                              Compression
                            </h1>
                          </div>
                          <div class="d-flex flex-row gap-5">
                            <h1 class="montserrat-bold-17px">
                              Max Transaction / hour
                            </h1>
                            <h1 class="montserrat-medium-14px-table">20</h1>
                          </div>
                        </div>
                        <div class="d-flex gap-table-2 ms-4">
                          <div class="d-flex flex-row gap-section">
                            <h1 class="montserrat-bold-17px">Total Value</h1>
                            <h1 class="montserrat-medium-14px-table">
                              550 EGP
                            </h1>
                          </div>
                          <div class="d-flex flex-row gap-5">
                            <h1 class="montserrat-bold-17px w-50 text-center">
                              Total Transaction Count
                            </h1>
                            <h1 class="montserrat-medium-14px-table">5161</h1>
                          </div>
                          <div class="d-flex flex-row gap-3">
                            <h1 class="montserrat-bold-17px">
                              Max Transaction Date-Time
                            </h1>
                            <h1 class="montserrat-medium-14px-table">
                              8-1-2021 | 10:16 PM
                            </h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sec-content-right d-flex">
            <div class="sec-two d-flex flex-column justify-content-center">
              <div>
                <div class="d-flex justify-content-center">
                  <p class="montserrat-bold-20px">Hourly Sales</p>
                </div>

                <div class="d-flex justify-content-center mt-5">
                  <img
                    class="mt-4"
                    src="assets/images/shabka.png"
                    width="260"
                    height="260"
                    alt=""
                  />
                </div>
              </div>
              <div>
                <div class="d-flex justify-content-center mt-5">
                  <p class="montserrat-bold-20px mt-5">Sales by Station</p>
                </div>
                <div class="div-progress1">
                  <div class="d-flex justify-content-center gap-5 mt-5">
                    <div class="d-flex flex-row gap-2">
                      <img
                        src="assets/images/station.svg"
                        width="38"
                        height="31"
                        alt=""
                      />
                      <div class="d-flex align-items-center">
                        <p class="montserrat-bold-16px">Station Name</p>
                      </div>
                    </div>
                    <div>
                      <p class="nunito-bold-22px">62,721m<sup>3</sup></p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center align-items-center">
                    <progress
                      id="progress1"
                      class="progress-red"
                      value="121"
                      max="297"
                    ></progress>
                  </div>
                </div>
                <div class="div-progress2">
                  <div class="d-flex justify-content-center gap-5 mt-5">
                    <div class="d-flex flex-row gap-2">
                      <img
                        src="assets/images/station.svg"
                        width="38"
                        height="31"
                        alt=""
                      />
                      <div class="d-flex align-items-center">
                        <p class="montserrat-bold-16px">Station Name</p>
                      </div>
                    </div>
                    <div>
                      <p class="nunito-bold-22px">62,721m<sup>3</sup></p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center align-items-center">
                    <progress
                      id="progress1"
                      class="progress-red"
                      value="121"
                      max="297"
                    ></progress>
                  </div>
                </div>
                <div class="div-progress3">
                  <div class="d-flex justify-content-center gap-over mt-5">
                    <div class="d-flex flex-row gap-2">
                      <img
                        src="assets/images/station.svg"
                        width="38"
                        height="31"
                        alt=""
                      />
                      <div class="d-flex align-items-center">
                        <p class="montserrat-bold-16px">Station Name</p>
                      </div>
                    </div>
                    <div>
                      <p class="nunito-bold-22px-blue">NM</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center align-items-center">
                    <progress
                      id="progress3"
                      class="progress-blue"
                      value="297"
                      max="297"
                    ></progress>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
