
// Futura PT, Medium - 10px
 .futura-medium-10px {
    font-family: 'Futura PT', sans-serif;
    font-weight: Medium;
    font-size: 10px;
    color: #8D8F96;
    letter-spacing: 300;
    line-height: 18px;
  }

  // Montserrat, bold - 20px
  .montserrat-bold-20px {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #3D5161;
    letter-spacing: 0;
    line-height: 24px;
  }

  // Montserrat, bold - 16px
  .montserrat-bold-16px {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #3D5161;
    letter-spacing: 0;
    line-height: 19px;
  }

  // NunitoSans-bold - 22px
  .nunito-bold-22px {
    font-family: 'NunitoSans-bold', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #3D5161;
    letter-spacing: 0;
    line-height: 30px;
  }

  // NunitoSans-bold - 15px
  .nunito-bold-15px {
    font-family: 'NunitoSans-bold', sans-serif;
    font-size: 15px;
    color: #3D5161;
    letter-spacing: 0;
    line-height: 20px;
  }

  // NunitoSans-bold - 22px (Blue)
  .nunito-bold-22px-blue {
    font-family: 'NunitoSans-bold', sans-serif;
    font-size: 22px;
    color: #B9CDE2;
    letter-spacing: 0;
    line-height: 30px;
  }

  // Montserrat, bold - 17px
  .montserrat-bold-17px {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #3D5161;
    letter-spacing: 0;
    line-height: 20px;
  }

  // Roboto, Regular - 40px
  .roboto-regular-40px {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #3D5161;
    letter-spacing: 0;
    line-height: 53px;
  }

  // Roboto, Regular - 22px
  .roboto-regular-22px {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #3D5161;
    letter-spacing: 0;
    line-height: 29px;
  }

  // Roboto, Regular - 16px (Orange)
  .roboto-regular-16px-orange {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FF7F5C;
    letter-spacing: 0;
    line-height: 21px;
  }

  // Roboto, Medium - 12px
  .roboto-medium-13px {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #3D5161;
    letter-spacing: 0;
    line-height: 16px;
  }

  // Roboto, Regular - 16px (Green)
  .roboto-regular-16px-green {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #00CBC0;
    letter-spacing: 0;
    line-height: 21px;
  }

  // Roboto, Regular - 12px (Green)
  .roboto-regular-12px-green {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #00CBC0;
    letter-spacing: 0;
    line-height: 16px;
  }

  // Roboto, Regular - 12px (Orange)
  .roboto-regular-12px-orange {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #FF7F5C;
    letter-spacing: 0;
    line-height: 16px;
  }

  // Montserrat, bold - 14px (Uppercase)
  .montserrat-bold-14px-uppercase {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1.4px;
    line-height: 18px;
    text-transform: uppercase;
  }
  .montserrat-bold-14px-uppercases {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #3D5161;
    letter-spacing: 1.4px;
    line-height: 18px;
    text-transform: uppercase;
  }
  .montserrat-medium-14px-table {
    font-family: 'Montserrat', sans-serif;
    font-weight: Medium;
    font-size: 18px;
    color: #3D5161;
    letter-spacing: 0;

  }

  // Montserrat, Regular - 14px (Uppercase)
  .montserrat-regular-14px-uppercase {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #3D5161;
    letter-spacing: 1.4px;
    line-height: 18px;
    text-transform: uppercase;
  }

  // Roboto, Regular - 32px
  .roboto-regular-32px {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #3D5161;
    letter-spacing: 0;
    line-height: 6px;
  }
  .roboto-15px {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #3D5161;
    letter-spacing: 0;
  }

  // Montserrat, bold - 18px (Uppercase)
  .montserrat-bold-18px-uppercase {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #3D5161;
    letter-spacing: 1.8px;
    line-height: 22px;
    text-transform: uppercase;
  }

